-var title = "Portafolio Personal"
-var currentpage = "inicio"
-var description =  "Portafolio Personal"
-var author = "Sigma PCS contacto@sigmapcs.com.mx"
-var keyword = "Palabras clave"
-var sitename = "Portafolio"
-var urlsite = "www.misitio.com"
