.aside__user
  img(src="img/boy.svg",alt="boy")
p.name name
  a(href="#", class="fa fa-bars" aria-hidden="true" id="toggle-menu")
ul.aside__menu
  li
    a(href="#")
      i(class="fa fa-home", aria-hidden="true")
      span home
  li
    a(href="#")
      i(class="fa fa-user-circle-o",aria-hidden="true")
      span about me
  li
    a(href="#")
      i(class="fa fa-id-card-o", aria-hidden="true")
      span resume
  li
    a(href="#").selected
      i(class="fa fa-picture-o", aria-hidden="true")
      span portfolio
  li
    a(href="#")
      i(class="fa fa-book", aria-hidden="true")
      span blog
  li
    a(href="#")
      i(class="fa fa-phone", aria-hidden="true")
      span contact
.aside__footer
  ul.networks
    li: a(href="#",class="fa fa-facebook", aria-hidden="true")
    li: a(href="#",class="fa fa-twitter", aria-hidden="true")
    li: a(href="#",class="fa fa-linkedin-square", aria-hidden="true")
    li: a(href="#",class="fa fa-instagram", aria-hidden="true")
  p
    i(class="fa fa-copyright" aria-hidden="true")
    span#year
    | Name

