.ed-container
  .ed-item.main-footer__copy
    p.icon-copy
      span#year
      | #{title}
  .ed-item.main-footer__dev
    p Desarrollado por:
      a(href="http://sigmapcs.com.mx", target="_blank") SigmaPCS
