.ed-container
  .ed-item.main-header__logo
    include logo
  .ed-item.main-header__menu
    .toggle-menu#main-nav-toggle
    nav.main-nav#main-nav
      ul.main-menu#main-menu
        include menu.pug
