.title_page
  span.icon-id-card
  h2 resume
.container
  .history
    h2.resume__title.icon-history WORK HISTORY
    .resume__content
      h3.resume__date Dec 2013 – Current
      h4.resume__work Front End Web Developer
      p.resume__description I currently work for Pixelwars creative studio. I create usable web interfaces, front end coding stuff and almost anything. But i love what i do.
    .resume__content
      h3.resume__date Dec 2013 – Current
      h4.resume__work Front End Web Developer
      p.resume__description I currently work for Pixelwars creative studio. I create usable web interfaces, front end coding stuff and almost anything. But i love what i do.
    .resume__content
      h3.resume__date Dec 2013 – Current
      h4.resume__work Front End Web Developer
      p.resume__description I currently work for Pixelwars creative studio. I create usable web interfaces, front end coding stuff and almost anything. But i love what i do.
    h2.resume__title EDUCATION
    .resume__content
      h3.resume__date Dec 2013 – Current
      h4.resume__work Front End Web Developer
      p.resume__description I currently work for Pixelwars creative studio. I create usable web interfaces, front end coding stuff and almost anything. But i love what i do.
    .resume__content
      h3.resume__date Dec 2013 – Current
      h4.resume__work Front End Web Developer
      p.resume__description I currently work for Pixelwars creative studio. I create usable web interfaces, front end coding stuff and almost anything. But i love what i do.
    .resume__content
      h3.resume__date Dec 2013 – Current
      h4.resume__work Front End Web Developer
      p.resume__description I currently work for Pixelwars creative studio. I create usable web interfaces, front end coding stuff and almost anything. But i love what i do.
  .skills
    h3.skills-title Coding Skills
    p.skill.html html5
    p.skill.css css3
    p.shill.js JavaScript
    p.skill.Angular Angular
    h3.skills-title Coding Skills
    p.skill.photoshop photoshop
    p.skill.fireworks fireworks
    p.shill.Illustrator Illustrator
