.home{
  height: 100vh;
  width: 100%;
  background: img('bg.jpg') center / cover no-repeat;
  position: relative;
  &::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(#666,.5);
  }
}
