extends templates/template
append config
  -currentpage = "inicio"
  -page = "Inicio"
block main
  section.home#home
    include blocks/home
  section.resume#resume
    include blocks/resume
  section.portfolio#portfolio
    include blocks/portfolio
  section.blog#blog
    include blocks/blog
  section.contact#contact
    include blocks/contact
